{% extends "global/base.html" %}

{% block content %}
    <h1>Register</h1>
    <div>
        <form action="" method="POST">
            {% for field in form %}
                <div>
                    <label for="{{field.id_for_label}}">
                        {{field.label}}
                    </label>
                    {{field}}
                    {% if field.help_text %}
                        <p>{{field.help_text}}</p>
                    {% endif %}
                    
                    {{field.errors}}
                </div>
            {% endfor %}
            <div>
                <button type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
{% endblock content %}