<div class="form">
    <form action="{{ form_action }}" method="POST"> {% csrf_token %}
        <div class="form-content">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">
                        {{field.label}}
                    </label>
                    {{field}}
                    {% if field.help_text %}
                        <p>{{field.help_text}}</p>
                    {% endif %}
                    {{field.errors}}
                </div>
            {% endfor %}
        </div>

        {% comment %} 
            Before Create attr in models for enroll
            <label for="enroll">Tipo de Matrícula</label>
            <select name="enroll" id="enroll">
                <option value="student">Estudante da UEMA</option>
                <option value="employee">Funcionário da UEMA</option>
                <option value="teacher">Professor da UEMA</option>
                <option value="extern">Público Externo</option>
            </select> 
        {% endcomment %}

        <div class="end-form">
            <button type="submit">
                Registrar
            </button>
        </div>
    </form>
</div>